* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #4b6373;
  background-color: #fff;
}
.ind {
  display: inline-block;
  position: relative;
}
.ind__num {
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  padding: 6px 0;
  background-color: #666;
  color: #FFF;
  border-radius: 4px;
  width: 50px;
  text-align: center;
}
.ind__num--green {
  background-color: #31c336;
}
.ind__num--yellow {
  background-color: #cdbc01;
}
.ind__num--red {
  background-color: #c73232;
}
.ind__tip {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  font-size: 10px;
  font-weight: bold;
  line-height: 13px;
  text-align: center;
  background-color: #328bc7;
  color: #FFF;
  border-radius: 50%;
}
.ind:hover .ind-pop-wrap {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.ind-pop-wrap {
  position: absolute;
  z-index: 4;
  top: calc(100% + 4px);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
}
.ind-pop {
  position: relative;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 2px 5px 24px 6px rgba(23, 43, 64, 0.15);
}
.ind-pop:before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: #FFF;
  position: absolute;
  top: -4px;
  left: 55px;
  z-index: 4;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ind-pop__main {
  padding: 15px 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.ind-pop__footer {
  background-color: #f0f4f7;
  padding: 15px 20px 15px 20px;
  border-radius: 0 0 5px 5px;
  white-space: nowrap;
  font-size: 13px;
}
.ind-pop__footer a {
  position: relative;
  color: #328bc7;
  transition: color 0.3s ease;
}
.ind-pop__footer a:hover {
  color: #3aa2e8;
}
.ind-pop-item {
  padding: 0 10px;
  text-align: center;
  font-weight: 600;
}
.ind-pop-item__val {
  display: block;
  font-size: 24px;
}
.ind-pop-item__val--green {
  color: #32c736;
}
.ind-pop-item__val--red {
  color: #c73232;
}
.ind-pop-item__descr {
  white-space: nowrap;
}
.ind-pop-arrow {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  line-height: 13px;
  text-align: center;
  background-color: #328bc7;
  color: #FFF;
  border-radius: 50%;
  margin-right: 10px;
}
